body {
	font-family: 'Ubuntu', sans-serif;
	font-size: 35px;
	margin: 20px 75px 20px 75px;
}
h1{
	margin-top: 5px;
	margin-bottom: 5px;
}
h2{
	font-size: 28px;
	margin-bottom: 0px;
	margin-top: 40px;
}
h3{
	font-size: 22px;
	margin-top: 0px;
	margin-bottom: 0px;
	color: grey;
}
p{
	font-size: 15px;
	margin-top: 0px;
	margin-bottom: 5px;
}
.paragraph1{
	font-size: 23px;
	margin-top: 5px;
	margin-bottom: 20px;
}
.bold{
	font-weight: bold;
}
.italic{
	font-style: italic;
}
.pointthreeem{
	letter-spacing: .3em
}
.negative{
	letter-spacing: -.03em
}
.uppercase{
	text-transform: uppercase;
}
.lowercase{
	text-decoration: lowercase;
}
.capitalize{
	text-transform: capitalize;
}
.underline{
	text-decoration: underline;
}
.linethrough{
	text-decoration: line-through;
}
.overline{
	text-decoration: ov
}
div{
	border: 2px solid;
	width: 300px;
}
